scikit-learn
streamlit
pdfplumber
spacy
sentence-transformers
opencv-python-headless
torch
librosa
hugggingface_hub
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
